@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');

%title-font-r400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%title-font-r600 {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
}

%title-font-r700 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}